body {
  font-family: "Montserrat", sans-serif;
}
/* font-family: 'Montserrat', sans-serif; */
:root {
  --color-black: black;
  --color-white: white;
  --color-white--opacity: rgba(255, 255, 255, 0.6);
  --color-gray--opacity: rgba(94, 93, 88, 0.6);
  --accent-color-green: rgba(24, 207, 171, 1);
  --accent-color-blue: rgba(0, 203, 246, 1);
  --dark-blue-color: rgba(28, 42, 51, 1);
  --gray--color: rgba(78, 78, 78, 1);
  --light-gray--color: rgba(119, 119, 119, 1);
  --very-light-gray--ccolor: rgba(216, 216, 216, 0.8);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}
h1 {
  font-size: 78px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 35px;
  font-weight: 700;
}
h4 {
  font-size: 34px;
  font-weight: 300;
}
h6 {
  font-size: 18px;
  font-weight: 700;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}
.color_accent-green {
  color: var(--accent-color-green);
}
/* header */

.header {
  background-attachment: fixed;
  background-image: url(../img/Sections-background/section-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1018px;
}
.header__cover {
  background-color: var(--color-gray--opacity);
  padding-top: 26px;
  padding-bottom: 27px;
}
.header__container,
.header__logo,
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  position: relative;
  margin-right: 6px;
}
.logo__img::after {
  content: "H";
  top: 50%;
  left: 50%;
  color: var(--color-white);
  position: absolute;
  transform: translate(-50%, -55%);
  font-size: 40px;
  font-weight: 700;
}
.logo__text {
  font-size: 32px;
  font-weight: 300;
  color: var(--color-white);
}
.logo__text_bold {
  font-size: 32px;
  font-weight: 700;
}

.header__menu {
}

.menu__list {
}
.menu__item {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  color: var(--color-white--opacity);
}
.menu__item:hover {
  color: var(--accent-color-green);
  border-bottom: 2px solid var(--accent-color-green);
}
.menu__item:not(:last-child) {
  margin-right: 25px;
}
.menu__item-search{
  cursor: pointer;
}
.header__title {
  margin-top: 256px;
}

.title__container {
  text-align: center;
  color: var(--color-white);
}
.title__heading {
  padding-bottom: 12px;
}
.title__heading_opacity {
  opacity: 80%;
}

.header___btn {
  text-align: center;
}

.btn__container {
  margin-top: 129px;
}
.btn {
  height: 59px;
  width: 164px;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px -5px 0px var(--color-white);
}
.btn_green {
  background-color: var(--accent-color-green);
}
.btn_blue {
  background-color: var(--accent-color-blue);
  margin-left: 26px;
}

/*section option */

.option {
  margin-top: 8px;
}
.option__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 360px;
  justify-content: center
}
.option__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.option__card_blue {
  background-color: var(--dark-blue-color);
}
.option__card_blue img {
  width: 62px;
  height: 100px;
}
.option__card_green {
  background-color: var(--accent-color-green);
}
.option__card_green img{
  height: 79px;
  width: 102px;

}
.card__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.card__title-green {
  margin-top: 58px;
  color: var(--color-white);
}
.card__title-blue {
  margin-top: 38px;
  color: var(--accent-color-green);
}

/*section service */

.service {
  margin-top: 88px;
}
.title_two-lines {
  font-size: 36px;
  color: var(--gray--color);
  text-align: center;
  position: relative;
  padding-bottom: 26px;
}
.title_two-lines::before,
.title_two-lines::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 1px;
  background-color: var(--accent-color-green);
}
.title_two-lines::before {
  right: 47%;
}
.title_two-lines::after {
  right: 46%;
  bottom: -5px;
}
.service__title {
}

.service__tabs {
  margin-top: 69px;
}

.tabs__list-title,
.tabs__title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tabs__title {
  font-size: 16px;
  height: 76px;
  width: 195px;
  color: rgba(113, 113, 113, 1);
}
.tabs__title:hover,
.filter__menu-item:hover {
  border: 1.5px solid var(--accent-color-green);
  cursor: url(../img/icon/cursor.svg), default;
}
.tabs__title-active {
  background-color: var(--accent-color-green);
  color: var(--color-white);
}
.tabs__title-active::after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--accent-color-green);
  bottom: -11px;
  right: 44%;
}

.tabs__list-content {
  margin-top: 23px;
}
.tabs__content {
  display: none;
}
.tabs__content-active {
  display: flex;
}
.content__img {
  height: 139px;
  width: 192px;
  object-fit: cover;
  margin-right: 15px;
}
.content__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: var(--light-gray--color);
}

/*section purchase */

.purchase {
  margin-top: 91px;
  background-image: url(..//img/Sections-background/section-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 476px;

  display: flex;
  align-items: center;
}
.purchase__container {
  text-align: center;
}
.purchase__title {
  line-height: 40px;
  margin-bottom: 12px;
}
.purchase__subtitle {
  font-size: 16px;
  line-height: 40px;
  color: var(--very-light-gray--ccolor);
  margin-bottom: 71px;
}

/* section work */

.work {
  background-color: rgba(233, 237, 239, 1);
}

.work__container {
  padding-top: 99px;
  padding-bottom: 95px;
}

.work__filter {
  margin-top: 61px;
}

.filter__menu-list {
  font-size: 14px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__menu-item{
  border: 1px solid rgb(211, 214, 214);
}
.filter__menu-item:not(:first-child) {
  padding: 14px 15px 14px 19px;
}
.filter__menu-item:first-child {
  padding: 14px 28px 14px;
}
.filter__menu-item.active{
  border: 1.5px solid var(--accent-color-green);
}
.filter__content {
  margin-top: 71px;
}

.filter_images {
  display: none;
}
.filter_images img{
  height: 206px;
  width: 285px;
  object-fit: cover;

}
.filter_images.active {
  display: grid !important; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 285px));
  justify-content: center;

}
.filter_images:hover {
  cursor: url(../img/icon/cursor.svg), default;
}
.filter__card{
  height: 206px;
  width: 285px;
}
.hidden{
  display: none;
}
.filter__card__front{
 
}
.filter__card__back{
  border-top: 3px solid var(--accent-color-green);
  text-align: center;
}
.back__icon-container{
  margin-top: 40px;
  justify-content: center;
  display: flex;
}
.back__icon2, 
.back__icon1 {
  height: 43px;
  width: 43px;
  border-radius: 90px;
}

.back__icon2:hover {
  background-color: var(--accent-color-blue);
  cursor: pointer;
}
.back__icon1:hover{
  filter: brightness(2);
  cursor: pointer;
}
.back__icon2 {
  background-color: var(--accent-color-green);
  position: relative;
}
.back__icon2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--color-white);
}
.back__icon1 {
  border: 1px solid var(--accent-color-green);
  margin-right: 3px;
  background-image: url(../img/icon/icon__backcard1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
.back__title {
margin-top: 24px;
font-size: 14px;
font-weight: 700;
line-height: 25px;
color: var(--accent-color-green);
}
.back__descr {
font-size: 12px;
font-weight: 300;
line-height: 25px;
color: rgba(138, 138, 138, 1);
}

.filter__btn {
  margin: 66px auto auto auto;
}
.load-btn {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  padding: 3.5px 18px;
  line-height: 55px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.icon-plus {
  margin-right: 15px;
  font-size: 33px;
  font-weight: 600;
}

/* section news */
.news {
  margin-top: 82px;
}
.news__container {
  margin-top: 74px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 43px;
  column-gap: 35px;
}
.news__card {
  position: relative;
}

.card__image:hover {
  filter: brightness(0.8);
}

.image-description {
  margin-left: 16px;
}
.image-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
}

.image-title:hover {
  color: var(--accent-color-green);
}
.image-subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 31px;
  color: var(--light-gray--color);
}

.card_date {
  background-color: rgba(32, 62, 56, 1);
  position: absolute;
  width: 70px;
  height: 68px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
}
.card_date:hover {
  background-color: var(--accent-color-green);
  color: var(--color-white);
}

/* section feedback */
.feedback {
  margin-top: 128px;
  background-image: url(../img/Sections-background/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 853px;
  background-position: 100%;
}
.feedback__container {
  text-align: center;
}
.feedback__title {
  color: var(--color-white);
  padding-top: 97px;
}
.feedback__icon {
  margin-top: 72px;
}

.swiper {
}
.swiper-slide {
  
}
.slide__text {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.slide__text,
.slide__porfession{
  color: rgba(187, 187, 187, 1);
}

.slide__name {
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--accent-color-green);
}
.slide__porfession {
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
}

.slide__img_active {
  margin: 38px auto auto;
  height: 166px;
  width: 166px;
  border-radius: 50%;
  border: 8px solid rgba(31, 218, 181, 0.2);
  object-fit: cover;
}
.slider-nav {
  margin: 24px auto;

}
.nav-slide {
 
}
.slick-track{

}
.nav-slide__img {
  height: 61px;
  width: 61px;
  border-radius: 90%;
  border: 4px solid rgba(31, 218, 181, 0.2);
  object-fit: cover; 
  filter: brightness(0.6);
}

.nav-slide__img:hover {
 filter:brightness(1);
 cursor: pointer;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.0001);
  height: 31px;
  width: 31px;
  color: var(--color-white); 
  border: 1px solid #bbb;
  font-size: 14px;
}
.slick-prev:hover,
.slick-next:hover{
  background-color:var(--accent-color-green);
  border: none;
}
.slick-prev {
  left: -60px;
}
.slick-next {
  right: -60px;
}
.slick-current{
  position: relative;
  top: -13px;
}

/* section gallery */

.gallery {
  margin-top: 108px;
}
.gallery__container {
}
.gallery__title {
  margin-bottom: 81px;
}

.gallery__grid {
  margin: 0 auto;
}
.gallery__item {
  width: 378px;
  margin-bottom: 15px;
}


.gallery__item img {
  width: 100%;
}
.gallery__item:hover {
  filter: brightness(0.6);
}
.gallery__btn {
  margin: 40px auto auto;
}

.load-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.loading{
  background-color: #00b3ff;
  color: rgba(255, 255, 255, 0.291);
}
.load-btn.loading:before {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* footer */

.footer {
  margin-top: 68px;
  background-color: var(--dark-blue-color);
}
.footer__container {
  display: flex;
  height: 115px;
  align-items: center;
  justify-content: center;
}
.copyright {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: rgba(174, 174, 174, 1);
}

.fa-copyright {
  color: aliceblue;
  font-size: 14px;
}
